html{
    position:relative; 
    min-height: 100%;
    margin:0;
    padding:0;
}

header {
    background-color: rgb(44, 51, 90);
    text-align: center;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    overflow: hidden;
    color: beige;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    font-weight: 8vw;
    margin:0;
    padding:0;
}

footer {
    background-color: rgb(44, 51, 90);
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    overflow: hidden;
    color: beige;
}

#h2form {
    text-align: center;
    margin-top: 20px;
}

h3 {

}

#indexbody {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: rgb(44, 51, 90);
    color: beige;
    margin: auto;
    /*margin-top: 15%;*/
    padding:0;
    text-align: center;
}

#indexcontainer {
    animation: index 4s forwards;
}

#indexlink {
    color: beige;
}

#container{
    height: calc(100vh - (75px + 50px));
    /*margin-top: 75px;*/
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background-color: coral;
    height: 100%;
}

.flex-container {
    display: flex;  
    flex-direction: column;
    /*height:  100%;*/
}

.flex-image {
    padding: 0px 0 0px 50px;
}

.flex-credits {
    /*padding: 25px 300px 45px 50px;*/
    padding-left: 50px;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 20%;
    height: 100%;
}

article {
    background-color: #f1f1f1;
}

#image {

}

#credits {

}

img {
    max-width: 55%;
    max-height: 60%;
}

form {
    height: 100%;
}
    
select:hover {
    outline: none;
    border: 1px solid #095484;
    background: #e6eef7;
}

#before-footer {
    width: 100%;
}
    
select {
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: whitesmoke;
    width: 90%;
    /*font-size: 2vw;*/
}

option {
    background: transparent;
}

.btn-block {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.select-block {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
}

button {
    width: 150px;
    padding: 15px;
    border: none;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    background-color: rgb(44, 51, 90);
    /*font-size: 8vw;*/
    color: white;
    cursor: pointer;
    animation: button-rotax-reverse 1s forwards;
}

button:hover {
    background-color: #095484;
    animation: button-rotax 1s forwards;
}

@media (min-width: 600px) {
    .title-block {
    display: flex;
    justify-content: space-between;
    }
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 1000px) {
    nav, article {
        width: 100%;
        height: auto;
        text-align: center;
        padding: 0;
        margin: 0;
    }
}

/*Animation*/
@keyframes index {
    from {margin-top: 25px;}
    to {margin-top: 20%;}
}

@keyframes button-rotax {
    from { rotate: 0deg;}
    to {rotate: 5deg;}
}

@keyframes button-rotax-reverse {
    from { rotate: 5deg;}
    to {rotate: 0deg;}
}